BikeClient/Connected Services/WebRoutingService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebRoutingService" />
  <xs:element name="GetOptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="start" nillable="true" type="q1:Position" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="end" nillable="true" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="GetPathResult" nillable="true" type="q3:ArrayOfItinerary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="GetItineraryResult" nillable="true" type="q4:ArrayOfItinerary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="composite" nillable="true" type="q5:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebRoutingService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>